doctype
<!--[if lte IE 9]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie ie9" lang="en"><![endif]-->
<!--[if gt IE 9 ]><!--><html lang="en"><!--<![endif]-->
head
	title myapp
	meta(name='viewport', content='width=device-width', initial-scale='1')


body

	p It works!
	p yay!
	p You are using
	ul
		li MongoDB
		li Coffeescript
		li Express
		li Jade
		li Other really new 2014 stuff